.spacer {
	flex: 1 1 auto;
  }
.brand a{
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: xx-large;
}
.login {
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
	
}
img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

:host-context ::ng-deep .mat-expansion-panel{
    background: transparent;
    color: rgba(0,0,0,0); /* transparent */
}
:host ::ng-deep .mat-expansion-panel-header{
    /* styles that were added to panel before */

    color: rgba(0,0,0,.87); 
}
:host ::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
    /* change what you want */
    border-radius: 10px;
    background: rgba(0,0,0,.26);
    color: rgb(107, 190, 198);
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}