<mat-toolbar color="primary">
    <span class="brand"><a routerLink="/">Picaro</a></span>
    <span class="spacer"></span>
    
    <div class="login" *ngIf="!this.isLogged">
        <a  routerLink="/login" class="login"><mat-icon class="icon">fingerprint</mat-icon>Authorization</a>
    </div>
    <div class="login" *ngIf="this.isLogged">
        <!--  -->
            <mat-expansion-panel  class=".mat-expansion-panel">
                <mat-expansion-panel-header>
                    <img src="../../..{{user.avatar}}" (click)="slugIt()" alt="">
                </mat-expansion-panel-header>
                <a routerLink="/edit">
                    Редактировать страницу
                </a>
            </mat-expansion-panel>
            
            
       
    </div>       

</mat-toolbar>