<div class="user-profile">
    <img src="../../../assets/{{avatar| slice: 8}}" alt="Profile Picture">

    <h2>{{username}}</h2>
    <p>{{userBio}}</p>
</div>

<div class="user-posts">
    <h3>My posts</h3>
    <div class="post" *ngIf="dataLoaded; else loadingSpinner">
        <div class="tweet-wrap" *ngFor="let post of posts">
            <div class="tweet-header">
              <img src="../../../assets/{{post.author.avatar | slice: 7}}" alt="" class="avator">
              <div class="tweet-header-info">
                {{post.author.username}} <span>@{{post.author.email}}</span><span>. {{post.created | date: 'mediumDate'}}
          </span>
                <p>{{post.body}}</p>
                
              </div>
              
            </div>
            
            <!--Здесь картинки  -->
            <div class="tweet-img-wrap" *ngIf="post.cover.length > 0">
              <ng-container *ngIf="post.cover.length === 1">
                <img src="../../..{{post.cover.image}}" alt="" class="tweet-img">
              </ng-container>
              
              <ng-container *ngIf="post.cover.length > 1">
                <ng-container *ngFor="let cover of post.cover">
                  <img src="../../..{{cover.image}}" alt="" class="tweet-img">
                </ng-container>

              </ng-container>
            </div>
          <!-- Здесь картинки -->
          
            <div class="tweet-info-counts">
              
              <div class="comments">
                
                <svg class="feather feather-message-circle sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                <div class="comment-count">{{ post.comment.length }}</div>
                
              </div>
              
              <div class="retweets">
                <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>
                <div class="retweet-count">0</div>
              </div>
            
              <div class="likes">

                <button class="heart-button"  (click)="like(post.id)">
                  <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                  </svg>
                </button>
                      <div class="likes-count">
                        {{post.likes_count}}
                      </div>
                    </div>
                  
                  <div class="message">
                    
                    <svg class="feather feather-send sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                  </div>
                </div>
                <div class="post_com">
                  <div class="img">
                    <img src="assets/img/svg/face-smile-regular.svg" />
                  </div>

                  <form [formGroup]="sendCommentGroup" (submit)="onAdd(post.id, post.author.id)">
                    <input type="text" placeholder="Написать комментарий" formControlName="body"> 
                    <button type="submit">Добавить</button>
                  </form>      

                </div>
                <div class="comment-list">
                  Комментарии
                  <ul *ngFor="let comment of post.comment">
                    <div class="comment">
                      <div class="author-avatar">
                        <img src="../../../assets/{{comment.author.avatar | slice: 7}}" alt="Author Avatar">
                      </div>
                      <div class="comment-content">
                        <div class="author-name">{{comment.author.username}}</div>
                        <div class="comment-text">{{comment.body}}</div>
                        <div class="comment-date">{{comment.updated | date: 'mediumDate'}}</div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
           
          
    </div>
    <!-- More posts here -->
</div>

<ng-template #loadingSpinner>
    <!-- Show the spinner while data is loading -->
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  </ng-template>