<div class="user-profile">
    <img src="profile-picture.jpg" alt="Profile Picture">
    <h2>{{username}}</h2>
    <p>{{userBio}}</p>
</div>

<div class="user-posts">
    <h3>Posts</h3>
    <div class="post">
        <div class="post-header">
            <img src="post-author-avatar.jpg" alt="Author Avatar">
            <h4>Post Author</h4>
        </div>
        <div class="post-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac est massa. Morbi non urna at mi vestibulum sagittis.</p>
        </div>
        <div class="post-footer">
            <button>Like</button>
            <button>Comment</button>
            <button>Share</button>
        </div>
    </div>
    <!-- More posts here -->
</div>