<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form [formGroup]="signupGroup" (submit)="onSignup()"> 
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="email" name="email" placeholder="Email" required="" formControlName="signupEmail">
                <input type="text" name="txt" placeholder="Username" required="" formControlName="signupUsername">
                <input type="text" name="txt" placeholder="First Name" required="" formControlName="signupFName">
                <input type="text" name="txt" placeholder="Last Name" required="" formControlName="signupLName">
                <input type="password" name="pswd" placeholder="Password" required="" formControlName="signupPassword">
                <button type="submit">Sign up</button>
            </form>
        </div>

        <div class="login">
            <form [formGroup]="loginGroup" (submit)="onLogin()">
                <label for="chk" >Login</label>
                <input type="email" name="email" placeholder="Email" required=""  formControlName="loginEmail">
                <input type="password" name="pswd" placeholder="Password" required=""  formControlName="loginPassword">
                <button type="submit">Login</button>
            </form>
        </div>     
           
</div>